.footer {
    font-size: 12px;
    color: #666;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.7;
}

.github-icon {
    width: 20px;  /* Rozmiar ikony */
    height: 20px;
    vertical-align: middle;
    transition: opacity 0.3s ease;
    filter: invert(20%); /* Delikatne przyciemnienie */
}

.repo-link:hover .github-icon {
    filter: invert(0%); /* Pełny czarny kolor po najechaniu */
}